@import '../../app/index.scss';

.pagination {
    @include flex-center;
    gap: 12px;
    padding: 40px 0 40px 0;
}

.pagination-btn {
    font-family: 'Montserrat-M';
    border: 1px solid #c5c4c4;
    background: none;
    width: 45px;
    height: 45px;
    border-radius: 15px;
    color: #888;
    cursor: pointer;
    font-size: 15px;
    transition: all 0.4s ease-in-out;
}

.select {
    background: $main-color;
}

.arrow-pagitanion {
    @include flex-center;
    border: 1px solid #c5c4c4;
    width: 45px;
    height: 45px;
    border-radius: 15px;
    cursor: pointer;
    background: none;
    transition: all 0.3s ease-in-out;

        &:focus {
            background: $main-color;
            border: none;
        }
}

.color {
    @include flex-center;
    color: #fff;
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 15px;
    cursor: pointer;
    background: $main-color;
    transition: all 0.3s ease-in-out;

        .pagination-btn {
            border: none;
            color: #fff;
        }
}

.pagination-left {
    width: 10px;
}

.pagination-right {
    width: 10px;
}