@import '../../app/index.scss';

.assort-wrapper {
    width: 100%;
    border-top: 1px solid #ededed;
}

.assort-title {
    font-family: 'Montserrat-B';
    font-size: 30px;
    padding-bottom: 20px;
}

.assort-nav {
    padding-top: 65px;
}

.assort-list {
    @include flex-center;
    background: #ededed;
    border-radius: 20px;
    max-width: 720px;
    height: 50px;
    gap: 20px;
}

.assort-list__item.select {
    padding-left: 12px;
    background: #fff;
    width: 100px;
    height: 40px;
    color: #fff;
    transition: all 0.5s;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 0 0 10px #0000003a;

        .assort-button {
            color: #FE5F00;
        }
            .arrow {
                transform: rotate(90deg);
                transition: all 0.3s ease-out
            }
}

.assort-button {
    @include flex-center;
    font-family: 'Montserrat-M';
    gap: 8px;
    background: none;
    border: none;
    cursor: pointer;
    color: $color-link;
}

.arrow {
    width: 8px;
    transform: rotate(-90deg);
}

.drop-down {
    position: relative;
}

.drop-list {
    display: no;
    position: absolute;
    line-height: 30px;
    left: 41%;
    background: #fff;
    box-shadow: 0 0 10px #0000005c;
    padding: 20px;
}

.drop-list-0 {
    display: none;
}

.drop-active {
    display: block;
}
