@import '../../app/index.scss';

.assort-wrapper {
    width: 100%;
}

.assort-title {
    font-family: 'Montserrat-B';
    font-size: 30px;
    padding-bottom: 20px;
}

.assort-nav {
    padding-top: 27px;
}

.assort-title {
    padding: 5% 0 0 2%;
}

.assort-list {
    @include flex-center;
    background: #ededed;
    border-radius: 20px;
    padding: 0 10px 0 10px;
    max-width: 720px !important;
    height: 50px;
    gap: 20px;
}

.drop-list__btn.select-drop {
    background: #fff !important;
    height: 40px;
    color: #FE5F00 !important;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 0 0 10px #0000003a;

}

.assort-list__item.select {
    background: #fff;
    width: 100px;
    height: 40px;
    color: #fff;
    transition: all 0.5s;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 0 0 10px #0000003a;

        .assort-button {
            color: #FE5F00;
        }
            .arrow {
                transform: rotate(90deg);
                transition: all 0.3s ease-out
            }
}

.assort-button {
    @include flex-center;
    @include button-reset;
    cursor: pointer;
    gap: 8px;
    color: $color-link;
}

.assort-button.selected {
    background: #fff;
    width: 100px;
    height: 40px;
    color: #FE5F00;
    transition: all 0.5s;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 0 0 10px #0000003a;
}

.arrow {
    width: 8px;
    transform: rotate(90deg);
    transition: all 0.3s ease-out
}

// body .arrow {
//     color: $color-dark;  
// }

.arrow.rotated {
  transform: rotate(-90deg);
}

.drop-wrapper {
    position: relative;
}

.drop-down {
    opacity: 0;
    left: 450px;
    position: absolute;
    visibility: hidden;
    transform: translateY(-20px);
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

.drop-list {
    line-height: 30px;
    background: #fff;
    border-radius: 10px;
    font-family: 'Montserrat-M';
    font-size: 14px;
    box-shadow: 0 0 10px #0000005c;
    padding: 20px;
}

.drop-down.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    z-index: 20;
}

.drop-list__btn {
    @include button-reset;
    cursor: pointer;
    color: $color-dark;
}

//Adaptive

@media screen and (max-width: 615px) {
    .assort-nav {
        padding-top: 18px;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
}
            .assort-list {
                max-width: 433px;
                background: none !important;
        }
                .assort-button {
                    font-size: 24px;
                }
                    .drop-down {
                        opacity: 1;
                        visibility: visible;
                        box-shadow: none;
                        transform: translateY(-20px);
                        left: 549px;
                        top: -38px;
                    }
                        .drop-down.active{
                            transform: translateY(-20px);
                        }
                            .drop-list {
                                display: flex;
                                align-items: center;
                                gap: 20px;
                                background: none;
                                box-shadow: none;
                            }
                                .drop-list__btn {
                                    color: $color-white;
                                    font-size: 24px;
                                }
                                    .arrow {
                                        display: none;
                                    }
                                        .mobile-wrapper {
                                            overflow: auto;
                                            height: 95px;
                                        }
                                            .more-mobile {
                                                display: none;
                                            }
                                                .assort-list__item.select {
                                                    width: 135px;
                                                }
                                            .assort-title {
                                                font-size: 35px;
                                                padding-top: 40px;
                                                display: flex;
                                                justify-content: center;
                                            }
                                        .filter-svg-text__inner {
                                            font-size: 35px;
                                        }
                                    .home-left {
                                        display: flex;
                                        justify-content: center;
                                        padding-top: 40px;
                                    }

    }

