@import '../../app/index.scss';

.filter-main__wrapper {
    padding-top: 36px;
    width: 355px;
}

.filter-discount__inner {
    font-family: 'Montserrat-M';
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
        background: $main-color;
        color: $color-white;
        text-align: center;
        border-radius: 20px;
    }
}

.filter-title {
    font-family: 'Montserrat-B';
}

.price-input__from {
    display: flex;
    align-items: center;
    border: 1px solid #e2e2e2;
    background: $color-white;
    border-radius: 10px;
    width: 125px;
    padding-left: 7px;
}

.input-from__inner {
    border: none;
    outline: none;
    width: 90px;
    height: 40px;
    font-size: 18px;
}

.price-wrapper {
    padding-top: 30px;
}

.price-wrapper__text {
    border-top: 1px solid #e0dfdf;
    padding: 31px 0 30px 0;
    font-family: 'Montserrat-B';
}

.input-from__inner::placeholder {
    font-size: 15px;
}

input[type="number"]::-webkit-inner-spin-button, 
    input[type="number"]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
}

.price-ruble {
    width: 12px;
}

.price-input__wrapper {
    display: flex;
    gap: 15px;
    padding-bottom: 30px;
}

.before-filter__title {
    font-family: 'Montserrat-B';
    font-size: 28px;
    padding-bottom: 30px;
}

.before-filter {
    border-top: 1px solid #e0dfdf;
    padding-top: 31px;
}

.open-full_wrapper {
    display: flex;
    align-items: center;
    bottom: 2px;
    position: absolute;
    cursor: pointer;
    width: 130px;
}

.open-full_wrapper.activity {
    top: 20px;
}

.open-full__inner {
    font-family: 'Montserrat-M';
    font-size: 15px;
    color: $main-color;
}

.open-full-img__inner {
    width: 25px;
}

.selected {
    @include flex-center;
    background: $main-color;
    border-radius: 20px;
    color: $color-white !important;
    width: 150px;
    height: 40px;
}

.before-filter__wrapper {
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 100px;
}

.filter-drop {
    padding-top: 10px;
    opacity: 0;
    line-height: 0;
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

.filter-drop.active {
    opacity: 1;
    line-height: 30px;
}

.drop-item__inner {
    @include button-reset;
    font-family: "Montserrat-M";
    font-size: 15px;
    cursor: pointer;
    color: $color-dark;


    &:hover {
        background: $main-color;
        width: 100px;
        height: 18px;
        text-align: center;
        border-radius: 20px;
        color: $color-white;
    }
}