.home-wrapper {
  display: flex;
}

//Adaptive

@media screen and (max-width: 967px) {
  .home-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

@media screen and (max-width: 719px) {
  .container__filter__and__card {
    padding: 10px !important;
  }
}
