@import '../../app//index.scss';

.card-img {
    background: $color-card;
    width: 270px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
}

.card {
    width: 285px;
    display: flex;
    flex-direction: column;
}

.card-img__inner {
    width: 210px;
}

.card-wrapper {
    display: grid;
    grid-template-columns: 285px 1fr 1fr;
    column-gap: 35px;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding-top: 66px;
}

.card-title {
    font-size: 20px;
    padding: 15px 0 7px 0;
}

.card-description {
    max-width: 270px;
    font-size: 14px;
    color: #959494;
}

.price-button {
    @include flex-center;
    gap: 80px;
}