@import '../app/index.scss';

.sun-btn {
    cursor: pointer;
    @include button-reset;

    &:hover {
        transition: all 0.4s ease-in;
        transform: rotate(-0.25turn);
    }
}

.sun-btn__img {
    width: 37px;
}

.moon-btn {
    cursor: pointer;
    @include button-reset;
}

.moon-btn__img {
    width: 37px;
}
