@import '../app/index.scss';

.sun-btn {
    cursor: pointer;
    transition: all 0.2s ease-in;
    @include button-reset;

    &:hover {
        transition: all 0.2s ease-in;
        transform: rotate(0.10turn);
    }
}

.sun-btn__img {
    width: 37px;
}

.moon-btn {
    cursor: pointer;
    @include button-reset;
    transition: all 0.2s ease-in;

     &:hover {
        transition: all 0.2s ease-in;
        transform: rotate(0.10turn);
    }
}

.moon-btn__img {
    width: 37px;
    opacity: 0.8;
}
