@import "../app/index.scss";

.sun-btn {
  cursor: pointer;
  transition: all 0.2s ease-in;
  @include button-reset;
  border: 1px solid $main-color;
  padding: 5px 7px 5px 7px;
  border-radius: 10px;
}

.sun-btn__img {
  width: 32px;
}

.moon-btn {
  cursor: pointer;
  @include button-reset;
  border: 1px solid $main-color;
  padding: 5px 7px 5px 7px;
  border-radius: 10px;
}

.moon-btn__img {
  width: 32px;
  opacity: 0.8;
}

@media screen and (max-width: 719px) {
  .sun-btn__img {
    width: 63px;
  }
  .moon-btn__img {
    width: 50px;
  }
  .moon-btn {
    padding: 14px;
  }
  .sun-btn {
    padding: 11px;
  }
}
