//Root
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

//colors-light-theme
$main-color: #FE5F00;
$color-card: #f8ca96ad;
$color-link: #000;
$back-body: #fff;

// //colors-dark-theme
// $back-body_dark: #000;

//FONTS
@font-face {
    font-family: 'Nunito-black';
    src: url('../assets/fonts/Nunito-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
  }

@font-face {
    font-family: 'Montserrat-B';
    src: url('../assets/fonts/Montserrat-Bold.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-M';
    src: url('../assets/fonts/Montserrat-Medium.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, 
li {
    list-style: none;
}

img {
    width: 100%;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
}

// body.dark {
//    background: $back-body_dark;
//    .header-input__inner {
//         background: $dark-input;
//    }
// }


