//Root
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin button-reset {
    background: none;
    border: none;
    font-family: 'Montserrat-M';
}

//colors-light-theme
$main-color: #FE5F00;
$color-card: rgb(255 140 9 / 19%);
$color-link: #000;
$color-dark: #000;
$color-card_dark: #ff74211a;
$color-btn_back: rgba(255, 114, 33, 0.312);
$color-white: #fff;
$back-body: #fff;

//colors-dark-theme
$back-body_dark: rgb(15,23,42);

//FONTS
@font-face {
    font-family: 'Nunito-black';
    src: url('../assets/fonts/Nunito-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
  }

@font-face {
    font-family: 'Montserrat-B';
    src: url('../assets/fonts/Montserrat-Bold.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-M';
    src: url('../assets/fonts/Montserrat-Medium.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

html, body {
    width: 100%;
    transition: all 0.4s ease-in-out;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, 
li {
    list-style: none;
}

img {
    width: 100%;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 30px 0 30px;
}

//Settings notify
// :root {
//     --toastify-color-light: #ffdbab;
//     --toastify-font-family: 'Montserrat-B';
//    --toastify-text-color-light: #000000;
// };

.notify {
    --toastify-color-light: #ffd6a2;
    --toastify-font-family: 'Montserrat-B';
    --toastify-text-color-light: #424242;
    --toastify-color-progress-light: linear-gradient(to right, #acb7f9, #9eaefa, #516dfa, #3153fc, #2e50f9, #002afd);
}

body.dark {
   background: $back-body_dark;
    .light-text__inner {
        color: $color-white;
    }
        .assort-title {
            color: $color-white;
        }
            .filter-title {
                color: $color-white;
            }
                .price-wrapper__text {
                    color: $color-white;
                }
                    .before-filter__title {
                        color: $color-white;
                    }
                        .filter-discount__inner {
                            color: $color-white;
                        }
                            .card-img {
                                background: $color-card_dark;
                            }
                                .card-title {
                                    color: #dcdcdc;
                                }
                                    .card-price {
                                        color: $color-white;
                                    }
                                        .more-card-country__inner {
                                            color: $color-white;
                                        }
                                            .more-card__img {
                                                background: $color-card_dark;
                                            }
                                                .more-card__description{
                                                    color: $color-white;
                                                }
                                            .more-card__logout {
                                                background: $color-btn_back;
                                            }
                                        .assort-list{
                                            background: $color-card_dark;
                                        }
                                    .assort-button {
                                        color: $color-white;
                                    }
                                .selected {
                                    color: $main-color !important;
                                }
                            .basket-left__text {
                                color: $color-white;
                            }
                        .basket-clear__text {
                            color: $color-white;
                        }
                    .basket-card__title {
                        color: $color-white;
                    }
                .basket-card-count__inner {
                    color: $color-white;
                }
            .basket-card__price {
                color: $color-white;
            }
        .full-count__text{
            color: $color-white;
        }
    .full-price__text {
        color: $color-white;
    }
.drop-item__inner {
    color: $color-white;
}
    .description-title__inner {
        color: $color-white;
    }
        .clear-basket-text__inner {
            color: $color-white;
        }
            .modal-register {
                background: $color-white;
            }
                .notify {
                    --toastify-color-light: #fde5c7;
                    --toastify-text-color-light: #141414;
                }
                    .light__text-mobile {
                        color: $color-white;
                    }
                        .burger {
                            background: #ffffffe1;
                        }
                            .header__container-mobile {
                                background: $back-body_dark;
                            }
                                .filter-svg-text__inner {
                                    color: $color-white;
                                }
                                    .mobile__filter-wrapper {
                                        background: $back-body_dark;
                                    }
                                        .after__mobile {
                                            background: rgb(255 186 88 / 77%);
                                        }
}


@media screen and (max-width: 719px) {
    // .container {
    //     padding: 0;
    //     width: 100%;
    // }
    // html {
    //     width: 621px;
    // }
}


