.register-wrapper {
    padding: 70px 0 100px 0;
    display: flex;
    justify-content: center;
}

.modal-register {
    position: relative;
    width: 700px;
    height: 562px;
    background: #00000018;
    border-radius: 20px;
}

.register {
    width: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-btn {
    width: 240px;
}