@import '../../app/index.scss';

.header-wrapper {
    padding: 35px 0 35px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.light-text__inner {
    font-family: "Nunito-black";
    color: $color-dark;
    font-size: 24px;
    min-width: 120px;
}

.light-part {
    @include flex-center;
    gap: 15px;
}

.header-input {
   @include flex-center;
    background-color: #ededed;
    padding: 0 20px 0 20px;
    border-radius: 15px;
    gap: 12px;
}

.header-input__inner {
    width: 150px;
    height: 50px;
    font-size: 18px;
    background-color: #ededed;
    outline: none;
    border: none;
    transition: all 0.4s ease-in-out;

    &:focus {
    width: 380px;
    }
}

.header-input__inner::placeholder {
    font-size: 17px;
    color: #C0C0C0;
}

.header-right__welcome {
    @include flex-center;
    padding: 10px;
    border: 1px solid $main-color;
    border-radius: 10px;
    gap: 7px;
    cursor: pointer;
}

.header-welcome {
    position: relative;
    padding: 13px 17px 10px 15px;
    border: 1px solid $main-color;
    border-radius: 10px;
    cursor: pointer;
}

.header-welcome__count {
    @include flex-center;
    position: absolute;
    font-size: 20px;
    color: $color-white;
    font-family: 'Montserrat-B';
    left: 70%;
    bottom: 30px;
    background: $main-color;
    border-radius: 50%;
    width: 34px;
    height: 34px;
}

.header-welcome__btn {
    color: $main-color;
    font-size: 15px;
    font-family: "Montserrat-M";
}

.header-right {
    @include flex-center;
    gap: 10px;
}

.light-img {
    width: 60px;
}

.header-right__img {
    padding-right: 18px;
}

.header-input__img {
    width: 20px;
    opacity: 0.5;
}

.header-welcome__img {
    width: 20px;
}




//Adaptive

// .header-right__wrapper {
//     position: relative;
// }

.header-right.active-right {
    transform: translateY(1px);
    transition: all 0.5s ease-in;
    position: absolute;
    display: flex;
    background: #ffffffeb;
    padding: 40px 0 40px 0;
    z-index: 10;
    width: 100%;
    left: 0;
    top: 0;
}

.burger-close {
    position: absolute;
    left: 0;
    padding-bottom: 92%;
    width: 40px;
}

.burger-wrapper {
    max-width: 60px;
    display: none;
}

.burger-img {
    min-width: 60px;
}

.burger-btn {
    background: none;
    border: none;
    cursor: pointer;
}


@media screen and (max-width: 719px) {
    .header-wrapper {
        gap: 10px;
    }
        .light-part {
            flex-direction: column;
            gap: 0;
            padding-top: 10px;
        }
            .header-right {
                transform: translateY(-10px);
                transition: all 0.5s ease-in;
                display: none;
            }
                .burger-wrapper {
                    display: block;
                }
                    .header-input__inner {
                        width: 170px;
                            &:focus {
                                width: 170px;
                            }
                        }
                                // .header-welcome__img {
                                //     display: none;
                                // }
                                    .light-img {
                                        width: 50px !important;
                                    }
}

// @media screen and (min-width: 696px) {
//     .header-right.active-right {
//         display: none;
//     }
// }