@import '../../../app/index.scss';

.header-wrapper {
    padding: 35px 0 35px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.light-text__inner {
    font-family: "Nunito-black";
    font-size: 24px;
}

.light-part {
    @include flex-center;
    gap: 15px;
}

.header-input {
   @include flex-center;
    background-color: #ededed;
    padding: 0 20px 0 20px;
    border-radius: 15px;
    gap: 12px;
}

.header-input__inner {
    width: 150px;
    height: 50px;
    font-size: 18px;
    background-color: #ededed;
    outline: none;
    border: none;
    transition: all 0.4s ease-in-out;

    &:focus {
    width: 380px;
    }
}

.header-input__inner::placeholder {
    font-size: 17px;
    color: #C0C0C0;
}

.header-right__welcome {
    @include flex-center;
    padding: 10px;
    border: 1px solid $main-color;
    border-radius: 10px;
    gap: 7px;
    cursor: pointer;
}

.header-welcome {
    padding: 13px 17px 10px 15px;
    border: 1px solid $main-color;
    border-radius: 10px;
    cursor: pointer;
}

.header-welcome__btn {
    color: $main-color;
    font-size: 15px;
    font-family: "Montserrat-M";
}

.header-right {
    display: flex;
    gap: 10px;
}

.light-img {
    width: 60px;
}

.header-input__img {
    width: 20px;
    opacity: 0.5;
}

.header-welcome__img {
    width: 20px;
}
