@import '../../../app/index.scss';
@import 'swiper/css';
@import 'swiper/css/pagination';

.more-card-img__inner {
    width: 350px;
}

.more-card__img {
    background: $color-card;
    @include flex-center; 
    width: 630px;
    height: 450px;
    border-radius: 30px;
}

.more-card__info {
    display: flex;
    // gap: 35px;
}

.more-card__title {
    font-family: 'Montserrat-B';
    font-size: 18px;
}

.more-card__right {
    display: flex;
    height: 200px;
    flex-direction: column;
    gap: 50px;
    background: #fff;
    box-shadow: 0 0 10px #00000047;
    border-radius: 10px;
    padding: 40px 50px 40px 50px;
}

.more-card__description {
    font-family: 'Montserrat-M';
    line-height: 2;
    max-width: 540px;
    text-align: center;
}

.more-card-btn__inner {
    @include button-reset;
    width: 290px;
    height: 55px;
    border-radius: 20px;
    font-size: 15px;
    cursor: pointer;
    color: $color-white;
    background: $main-color;
}

.more-card__midle {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.more-card__logout {
    @include flex-center;
    width: 150px;
    border-radius: 20px;
    gap: 15px;
    background: $color-card;
    margin-bottom: 50px;
    cursor: pointer;
}

.logout-text {
    font-family: 'Montserrat-M';
    font-size: 15px;
    color: $main-color;
}

.logout-card__img {
    padding-top: 5px;
    width: 40px;
}

.modify-card {
    width: 550px !important;
}

// .modify-padding {
//     padding-top: 51px;
// }

//Swiper
.swiper-wrapper {
    height: 370px !important;
}

.swiper {
  width: 300px;
  height: 400px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.swiper-slide img {
  display: block;
  width: 93%;
  object-fit: cover;
}

.swiper-pagination-bullet {
  width: 32px !important;
  height: 32px !important;
  text-align: center;
  line-height: 32px;
  font-size: 18px;
  color: #fff !important;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
  font-family: 'Montserrat-M';
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: $main-color !important;
}
